{% extends 'base.html' %}

{% block title %}{{ post.name }}{% endblock %}

{% block content %}
    <h1 class="text-primary text-center">{{ post.name }}</h1>
        <ul class="list-group" style="box-shadow: 0 0 10px #CFE2FF">
          <li class="list-group-item active">Дата публикации: {{ post.updated_at }}</li>
          <li class="list-group-item">Автор: {{ post.author }}</li>
          <li class="list-group-item">Описание: {{ post.description }}</li>
          <li class="list-group-item">Текст: {{ post.text|linebreaks|urlize }}</li>
        </ul>
    <br>
    <a href="{% url 'posts:posts' %}" class="btn btn-success">Все публикации</a>
{% endblock %}